# Auto detect text files and perform LF normalization
* text=auto

# Python files should use LF
*.py text eol=lf
*.pyw text eol=lf
*.pyi text eol=lf

# Django template files should use LF
*.html text eol=lf
*.po text eol=lf
*.mo text eol=lf

# Data files should be treated as binary
*.db binary
*.sqlite3 binary

# Windows files should maintain CRLF
*.bat text eol=crlf
*.cmd text eol=crlf
